
ion-content {

  --background: url("../../assets/img/bgjungle.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  
  /** login - nome **/
.area {
  font-size: large;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
label {
  color: #ffffff;
  transition: transform .25s,
  opacity .25s;
  display: inline-flex;
  margin-top: 10px;
}

label::before {
  opacity: 0;
}

.login:focus-within label {
  transform: translateX(26px);
}

.login:focus-within label::before {
  opacity: 1;
  transition-delay: .1s;
}

input {
  margin-top: 2px;
  background-color: #F0F0F0;
  opacity: 100;
  width: 250px;
  height: 35px;
  display: block;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Carton Six';
  font-weight: 400;
}

input::placeholder {
  color: rgb(128, 128, 128);
  transition: opacity .25s;
}

input:focus::placeholder {
  opacity: 0;
}

}
/** botão - continuar **/
.bottom1{
  margin-top: 12px;
  width: 250px;
  height: 45px;
  border-radius: 25%;
  box-shadow: 0 10px 10px rgb(64, 65, 65);
  opacity: 90%;
  font-family: 'Carton Six';
  font-size: 20px;
}

/** logo **/
.logo {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
}

}
