

<ion-content>

  <!-- login -->
  <div class="area">
    <div class="login">
      <label class="nome">Username</label>
      <input placeholder="Digite o seu nome">
    </div>

    <div class="login">
      <label class="senha">Senha</label>
      <input type="password" placeholder="Senha do Usuário">
    </div>

    <div class="login">
      <label class="senha">Confirmar Senha</label>
      <input type="password" placeholder="Confirma Senha do Usuário">
    </div>

    <div>
      <ion-button class="bottom1" color="purple" routerLink="/login"> Continuar</ion-button>
    </div>
  </div>

</ion-content>
