
<ion-content>

  <div class="circle2"></div>

    <img src="../../assets/img/alladin.jpg" class="imagem">

    <p>
    Diz a lenda que Curupira é um anão forte e ágil, de cabelos ruivos, pés virados para trás e muito travesso.
    A principal característica desse personagem do folclore brasileiro são suas pegadas invertidas, usadas para confundir os caçadores que tentam capturá-lo. Conhecido como protetor das florestas, Curupira utiliza sua inteligência para pregar peças nos invasores das matas, que aparecem para causar danos à natureza.
    Muitos desses invasores nunca mais conseguem retornar para suas casas, por conta dos truques de Curupira, que fazem com que não encontrem a saída da floresta.
    Outra das características do anão é sua curiosidade. A lenda diz que muitos caçadores fazem um novelo com cipó e escondem bem a ponta. Curioso ao extremo, Curupira fica entretido com o novelo e o caçador consegue fugir.
    Além disso, a criatura tem o hábito de beber pinga e fumar. Por isso, até hoje, quando vão à floresta, muitos caçadores levam um maço de cigarros e uma garrafa de pinga para oferecer ao Curupira e, assim, não serem surpreendidos com nenhuma travessura.
  </p>
</ion-content>
