<ion-content class="content-page">
  <img
    src="https://i.pinimg.com/564x/4c/87/fc/4c87fc565274bf9dbe48614471c43b09.jpg"
    class="bg"
  />

  <ion-button color="transparent" routerLink="/home">
    <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
  </ion-button>

  <div routerLink="/profile">
    <div class="circle1"></div>
    <img src="../../assets/img/image 1.svg" class="image1" />
  </div>

  <ion-chip color="light" class="conq" routerLink="/conquistas">
    <ion-label class="ion-text-wrap">1528</ion-label>
    <img src="../../assets/img/conqs.svg" class="conqs" />
  </ion-chip>

  <div class="question-box">
    <div class="question">
    </div>

    <p class="title">Qual o significado da palavra abaixo?</p>


    <div class="color">
      <p class="title2"> {{curQuesion.title }} </p></div>
  </div>

  <div class="answers">
    <div
      (click)="doAnswer(answer)"
      *ngFor="let answer of curQuesion.answers; let n = index;"
      class="ion-activatable ion-focusable hydrated"
    >
      <div class="letter"></div>
      <span class="circle">
        <span class="option">{{ n + 1 }}</span></span>
      <span class="answer">{{ answer.description }}</span>
    </div>
  </div>
</ion-content>
