<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="heading">
    <h1>Bem Vindo</h1>
  </div>

<div class="buttons">
<ion-button expand="block" routerLink="/question">
  Iniciar jogo
</ion-button>

<ion-button expand="block" color="dark" routerLink="/record">
  Recordes
</ion-button>

<ion-button expand="block" color="danger" routerLink="/home">
  Sair
</ion-button>
</div>
 
</ion-content>