<ion-content>
  <!-- logo -->
  <div class="logo">
    <img src="./../../assets/img/logo.png">
  </div>

  <!-- background -->
  <div class="cloud one"></div>
  <div class="cloud two"></div>
  <div class="cloud three"></div>
  <div class="cloud four"></div>
  <div class="cloud five"></div>
  <div class="cloud six"></div>
  <div class="balloon">
    <div class="bottom2"></div>
    <div class="basket"></div>
    <div class="rope"></div>
  </div>

  <!-- login -->
  <div class="ion-text-center" class="login">
    <label class="nome">Nome</label>
    <input placeholder="Ex. : Rogério">
  </div>

  <div class="login2">
    <label class="senha">Senha</label>
    <input type="password" placeholder="Senha do Usuário">
  </div>

  <div class="ion-text-center">
    <ion-button class="bottom1" color="purple" > Continuar</ion-button>
  </div>


</ion-content>
