

<ion-content>


  <!-- logo -->
  <div class="logo">
    <img src="./../../assets/img/logo.png">
  </div>

  <!-- login -->
  <div class="area">
    <div class="login">
      <label class="username">Username</label>
      <input placeholder="Digite o seu nome">
    </div>

    <div class="login">
      <label class="senha">Senha</label>
      <input type="password" placeholder="Senha do Usuário">
    </div>

    <div>
      <ion-button class="bottom1" color="purple" routerLink="/home"> Continuar</ion-button>
    </div>

    <div routerLink="/cadastro" class="chamada">
      <p>Ainda não tem uma conta? <b>Crie agora</b>.</p>
    </div>

  </div>


  <!-- background -->
  <div class="cloud one"></div>
  <div class="cloud two"></div>
  <div class="cloud three"></div>
  <div class="cloud four"></div>
  <div class="balloon">
    <div class="bottom2"></div>
    <div class="basket"></div>
    <div class="rope"></div>
  </div>






</ion-content>
