ion-content{
    --background: url(../../assets/img/andy.jpg)
}

.username{
  color: aqua;
}

.logo{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}

.login{
   margin-top: 10px;
}
