<ion-content class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
        <img src="../../assets/img/start.svg" />
        <h2>Educação</h2>
        <p>Com diversas atividades de <b>interdisciplinaridade</b>, o aplicativo busca que os pequenos melhorem o processo de aprendizagem.</p>

    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/competencia.svg" />
      <h2>Competências Socioemocionais</h2>
      <p>
        De <b>maneira lúdica</b>, os pequenos aprenderão sobre as competências socioemocionais, de extrema importância nos dias atuais.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/security.svg" />
      <h2>Segurança</h2>
      <p>
        Fique tranquilo! A <b>segurança de seus dados</b> e de nossos usuários é a nossa prioridade e nenhum dado seu será usado sem autorização prévio.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/img/rocket.svg" />
      <h2>Vamos decolar?</h2>
      <p>Aperte os cintos, pois a nossa viagem em busca do conhecimento já vai começar!</p>
      <ion-button routerLink="/login" color="tertiary">VAMOS! <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
