<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-fab-button>
  <ion-icon name="play"></ion-icon>
</ion-fab-button>

<ion-item>
  <p>O Menino Comrpou Maçã</p>
</ion-item>

<ion-grid>

  <ion-row>
    <ion-col>
      <ion-card>
        <img src="http://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>
        <img src="http://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card>
        <img src="http://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
      </ion-card>
    </ion-col>
    
    <ion-col>
      <ion-card>
        <img src="http://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" />
      </ion-card>
    </ion-col>
  </ion-row>

</ion-grid>