<ion-header>
  <ion-toolbar>
    <ion-title>question</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content-page">
  <div class="question-box">
    <div class="question">
      <p>a</p>
    </div>
    <div class="time">
      30
    </div>
  </div>
  <div class="answers">
<div class="answer">
  <span>1</span>
  <span>aoba</span>
</div>

<div class="answer">
  <span>2</span>
  <span>aoba</span>
</div>

<div class="answer">
  <span>3</span>
  <span>aoba</span>
</div>

  </div>

  <div class="info">
    
    <ion-button>
      ERRAR
    </ion-button>

    <ion-button>
      PARAR
    </ion-button>

    <ion-button>
      ACERTAR
    </ion-button>
  </div>
</div>
</ion-content>
