
<ion-content>

  <ion-button color="transparent" routerLink="/home">
    <ion-icon slot="icon-only" name="arrow-back" color="light" ></ion-icon>
  </ion-button>


  <div class="circle2"></div>

  <ion-chip color="purple" class="type" routerLink="/conquistas">
    <ion-label class="ion-text-wrap">Histórias Infantis</ion-label>
  </ion-chip>

    <img src="../../assets/img/historias/emilia.jpg" class="imagem">

    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/2048px-Heart_coraz%C3%B3n.svg.png" class="likes">
    <h3 class="nLikes">36 curtidas</h3>
    <h3 class="nViews">42 views</h3>

    <h2 class="title">Emília</h2>
    <h3 class="subtitle"> Essa história foi escrita por Monteiro Lobato, em 1977</h3>
    <div class="bar"></div>

    <h3 class="container">
      Emília é uma boneca de pano feita por tia Nastácia, os olhos de linha preta. Narizinho gosta muito dela, tanto que não desgruda da boneca. Almoça e janta com ela ao seu lado, e ao se deitar tem o cuidado de acomodá-la em uma rede perto dos pés da cadeira. Emília era muda, mas doutor Caramujo deu a ela uma pílula falante e, ao engolir a pílula Emília desandou a falar, falar, falar muito. A primeira coisa que disse foi: ‘Estou com um horrível gosto de sapo na boca!’ Mas Emília falava tanto, tanto, tanto, "que Narizinho meio atordoada disse ao doutor que era melhor fazê-la vomitar aquela pílula e engolir outra mais fraca.
  </h3>
</ion-content>
