<div class="content">

  <img src="../../assets/img/close-circle-outline.svg" class="close" (click)="closeModal()">


  <div class="planet planetSun">
    <div class="container">
      <div class="loader"><span></span></div>
      <div class="sun"></div>
    </div>
  </div>

  <div class="banner">
  <h3>{{ message.title || 'O planeta foi desbloqueado' }}</h3>
</div>


  <p>{{ message.message || 'O Sol é a estrela do sistema solar e todos os corpos, inclusive a Terra, giram em torno dele. É ele quem nos dá luz, calor e energica e nos mantém vivos!' }}</p>
</div>

