<ion-content color="#79299E">

  <ion-button color="transparent" routerLink="/home">
    <ion-icon slot="icon-only" name="arrow-back" color="light" ></ion-icon>
  </ion-button>

  <div routerLink="/profile">
    <div class="circle1"></div>
    <img  src="../../assets/img/image 1.svg" class="image1" />
  </div>

    <ion-chip color="light" class="conq" routerLink="/conquistas">
      <ion-label class="ion-text-wrap">1528</ion-label>
      <img src="../../assets/img/conqs.svg" class="conqs" />
    </ion-chip>

  <div class="container"></div>
  <div class="bg"></div>

<input type="checkbox" id="difficulty" checked />
<input type="checkbox" id="sound" />
<input type="checkbox" id="first" />

<input type="checkbox" id="start" />

<div class="box"></div>
<form>
  <input type="radio" name="cell-0" id="cell-0-x" />
  <input type="radio" name="cell-0" id="cell-0-o" />
  <input type="radio" name="cell-1" id="cell-1-x" />
  <input type="radio" name="cell-1" id="cell-1-o" />
  <input type="radio" name="cell-2" id="cell-2-x" />
  <input type="radio" name="cell-2" id="cell-2-o" />
  <input type="radio" name="cell-3" id="cell-3-x" />
  <input type="radio" name="cell-3" id="cell-3-o" />
  <input type="radio" name="cell-4" id="cell-4-x" />
  <input type="radio" name="cell-4" id="cell-4-o" />
  <input type="radio" name="cell-5" id="cell-5-x" />
  <input type="radio" name="cell-5" id="cell-5-o" />
  <input type="radio" name="cell-6" id="cell-6-x" />
  <input type="radio" name="cell-6" id="cell-6-o" />
  <input type="radio" name="cell-7" id="cell-7-x" />
  <input type="radio" name="cell-7" id="cell-7-o" />
  <input type="radio" name="cell-8" id="cell-8-x" />
  <input type="radio" name="cell-8" id="cell-8-o" />

  <div id="menu" class="scrim">
    <div class="center">
      <h1>Jogo da Velha</h1>
      <div>
        <h2>Dificuldade</h2>
        <div class="toggle-group">
          <span>Iniciante</span>
          <label for="difficulty" class="toggle"></label>
          <span>Avançado</span>
        </div>

        <h2>PRIMEIRO A JOGAR</h2>
        <div class="toggle-group">
          <span>Jogador</span>
          <label for="first" class="toggle"></label>
          <span>IA</span>
        </div>
        <label for="start" id="start-button" class="btn">COMEÇAR</label>
      </div>
    </div>
  </div>

  <div id="board" class="center">
    <div class="tile" id="tile-0">
      <label for="cell-0-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-1">
      <label for="cell-1-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-2">
      <label for="cell-2-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-3">
      <label for="cell-3-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-4">
      <label for="cell-4-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-5">
      <label for="cell-5-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-6">
      <label for="cell-6-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-7">
      <label for="cell-7-x"></label>
      <div></div>
    </div>
    <div class="tile" id="tile-8">
      <label for="cell-8-x"></label>
      <div></div>
    </div>
  </div>
  <div id="label-computer" class="btn">
    Movimento da IA
    <label for="cell-0-o"></label>
    <label for="cell-1-o"></label>
    <label for="cell-2-o"></label>
    <label for="cell-3-o"></label>
    <label for="cell-4-o"></label>
    <label for="cell-5-o"></label>
    <label for="cell-6-o"></label>
    <label for="cell-7-o"></label>
    <label for="cell-8-o"></label>
  </div>
  <div id="end" class="scrim">
    <div id="message" class="center">
      <div>
        <input type="reset" for="tictactoe" value="Jogar novamente" />
      </div>
    </div>
  </div>
</form>



</ion-content>
