
<ion-content class="container">

  <ion-button color="transparent" routerLink="/home">
    <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
  </ion-button>


  <div class="user">
  <img src="../../assets/img/image 1.svg" class="profile"/>
<h2 class="name">Luana Moreira</h2>
<h3 class="badge">6/6 conquistas</h3>
<h3 class="verified"></h3>
  </div>

  <img src="https://cdn-icons-png.flaticon.com/512/7595/7595571.png" class="verified-icon">



  <div class="details">

      <p class="section-title">Histórias Favoritas</p>

        <ion-slides class="slides" [options]="slideOpts">
          <ion-slide *ngFor="let historia of historias" class="historia-preview">
            <div [routerLink]="['/historias' , historia.id]">
              <img class="img" [src]="historia.imagem">
            <b class="nomehistoria">{{historia.nomehistoria}}</b>
            <p class="nomeautor">{{historia.autor}}</p>
          </div>
          </ion-slide>
        </ion-slides>





    <div class="details1">

        <p class="section-title2">Itens salvos</p>

          <ion-slides class="slides" [options]="slideOpts">
            <ion-slide *ngFor="let historia of historias" class="historia-preview">
              <div [routerLink]="['/historias' , historia.id]">
                <img class="img" [src]="historia.imagem">
              <b class="nomehistoria">{{historia.nomehistoria}}</b>
              <p class="nomeautor">{{historia.autor}}</p>
            </div>
            </ion-slide>
          </ion-slides>




  </div>

</div>


</ion-content>
