<ion-content color="light">

  <div class="circle2"></div>

  <div class="circle1"></div>
  <img routerLink="/login" src="../../assets/img/image 1.svg" class="image1" />

  <ion-chip color="light" class="conq" routerLink="/conquistas">
    <ion-label class="ion-text-wrap">12</ion-label>
    <img src="../../assets/img/conqs.svg" class="conqs" />
  </ion-chip>

  <img class="hist" src="https://i.pinimg.com/originals/21/49/1d/21491da6b72c61598dbcf18c6ee0551d.jpg">
  <h3>Alice no País das Maravilhas</h3>
</ion-content>
