
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>
  <ion-list>
    <ion-item>
      <ion-select
        [compareWith]="compareWith"
        placeholder="Selecione a historia"
        (ionChange)="handleChange($event)"
      >
        <ion-select-option *ngFor="let historia of historias" [value]="historia">{{ historia.nome }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label> {{ currentHistoria | json }}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
