.head{
  background-color: gray;
}

.cor{
  color: orange;
}

.neg{
  font-weight: bold;
  color: rgb(169, 215, 255);
}

.desc{
  color: rgb(224, 0, 0);
}


ion-content {
 
  --background: linear-gradient(0deg, rgba(27,212,214,1) 0%, rgba(255,255,255,1) 100%);
}