<div class="content">

  <img src="../../assets/img/close-circle-outline.svg" class="close" (click)="closeModal()">


  <div class="planet planetMars">
    <div class="container">
      <div class="loader"><span></span></div>
      <div class="mars"></div>
    </div>
  </div>

  <div class="banner">
  <h3>{{ message.title || 'O planeta foi desbloqueado' }}</h3>
</div>


  <p>{{ message.message || 'O planeta Terra é nossa casa e o terceiro planeta mais próximo do Sol e, por isso é quentinho para vivermos. Vamos juntos cuidar dele?' }}</p>
</div>

