*{
  font-family: 'Poppins';
}

ion-content{
  ion-button{
    margin-top: 20px;
    font-size: 20px;
  }

  .image1{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 16px
  }

  .circle1{
    position: absolute;
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 16px;
    border-radius: 100px;
  }

  .conq{
    position: absolute;
    width: 115px;
    height: 34px;
    right: 75px;
    top: 25px;
    background: rgba(154, 26, 255, 0.7);
    border-radius: 40px;
    .conqs{
      width: 30px;
      height: 30px;
      margin-left: 10px;
      margin-top: 0px;
      display: block;
    }
    ion-label {
      color: #fff;
      margin-left: 5px;
      text-align: center;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.5px;
      text-shadow: 1px 1px 1px var(--ion-color-medium);
      font-family: "Poppins", sans-serif;
    }
    }
.bg{
  position: absolute;
    background-position: center center;
    background-size: cover;
    position: absolute;
    object-fit: cover;
    background-repeat: no-repeat, no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    object-position: 22% 40%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.question-box {
  .question {
    color: rgb(0, 0, 0);
    min-height: 120px;
  position: absolute;
    justify-content: space-between;
    align-items: center;
    opacity: 80;
  margin-top: 10%;
  margin-left: 9%;
  width: 80%;
  height: 50px;
  min-width: 20px;
  background: rgba(255, 255, 255, 0.774);
  font-size: 1.3rem;
  border-radius: 15px;
  opacity: 80;
  display: flex;
  justify-content: center;
  position: absolute;


        .time {
            width: 54px;
            height: 54px;
            border-radius: 100%;
            background-color: transparent;
            // color: #333;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
              position: absolute;
        }
    }
}


.answers {
  position: relative;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
  .letter{
    margin-top: 10px;
    margin-left: 3px;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-right: 10px;
    position: absolute;
  }
    div {
        display: inline-flex;
        align-items: center;
        padding: 12px;
        background-color: rgba(255, 255, 255, 0.774);
        border-radius: 5px;
        margin-bottom: 10px;
            .option{
              
              position:relative;
              color: #000;
              font-size:1.2rem;
            }
        .circle {
            width: 30px;
            height: 30px;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: #8D1AE7;
            border-radius: 100%;
            color: #fff;
            margin-right: 10px;

        }

        .answer {
            font-weight: 500;
        }
    }
}

.stop-container {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f00;
}
}
