<ion-content color="light">

  <div class="circle2"></div>

  <div routerLink="/profile">
  <div class="circle1"></div>
  <img  src="../../assets/img/image 1.svg" class="image1" />
</div>

  <ion-chip color="light" class="conq" routerLink="/conquistas">
    <ion-label class="ion-text-wrap">1528</ion-label>
    <img src="../../assets/img/conqs.svg" class="conqs" />
  </ion-chip>

  <ion-card routerLink="/historias">
    <img class="img" [src]="historia?.imagem">
    <ion-card-header>
      <ion-card-subtitle>TOP 1</ion-card-subtitle>
      <ion-card-title>{{historia?.nomehistoria}}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <div class="ion-no-padding">
    <p class="section-title">Destaques</p>
    <ion-slides class="slides" [options]="slideOpts"   (click)="unlockMars()">
      <ion-slide class="historia-preview">
        <div routerLink="/historias">
          <img class="img"  src="../../assets/img/historias/coraline.jpg">
        <b></b>
        <p></p>
      </div>
      </ion-slide>

      <ion-slide class="historia-preview">
        <div routerLink="/dumbo">
          <img class="img"  src="../../assets/img/historias/dumbo.jpg">
        <b></b>
        <p></p>
      </div>
      </ion-slide>

      <ion-slide class="historia-preview">
        <div routerLink="/porco">
          <img class="img"  src="../../assets/img/historias/porquinhos.jpg">
        <b></b>
        <p></p>
      </div>
      </ion-slide>

      <ion-slide class="historia-preview">
        <div routerLink="/emilia">
          <img class="img"  src="../../assets/img/historias/emilia.jpg">
        <b></b>
        <p></p>
      </div>
      </ion-slide>
    </ion-slides>
  </div>


    <div class="ion-no-padding">
      <p class="section-title">Histórias infantis</p>
      <ion-slides class="slides" [options]="slideOpts"  (click)="unlockMars()">
        <ion-slide *ngFor="let historia of historias" class="historia-preview" [routerLink]="['/historias/' + historia.idHistoria]">
          <div>
            <img class="img" [src]="historia.imagem">
          <b class="nomehistoria">{{historia.nomehistoria}}</b>
          <p class="nomeautor">{{historia.autor}}</p>
        </div>
        </ion-slide>
      </ion-slides>
    </div>


        <div class="ion-no-padding">
          <p class="section-title2">Histórias clássicas</p>
          <ion-slides class="slides2" [options]="slideOpts2" routerLink="/historias" (click)="unlockMars()">
            <ion-slide *ngFor="let historia of historias" class="historia-preview">
              <div>
                <img class="img" [src]="historia.imagem">
              <b class="nomehistoria">{{historia.nomehistoria}}</b>
              <p class="nomeautor">{{historia.autor}}</p>
            </div>
            </ion-slide>
          </ion-slides>
        </div>

        <div class="games">
        <div class="ion-no-padding">
          <h3 class="titleGames">Acesse os Jogos</h3>
          <ion-slides class="slides2" [options]="slideOpts4"  (click)="unlockMars()">
            <ion-slide *ngFor="let jogo of jogos" class="historia-preview">
              <div [routerLink]="jogo.rota">
                <img class="img" [src]="jogo.imagem">
              <b class="title">{{jogo.nomejogo}}</b>
            </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>


      <div class="ion-no-padding">
        <p class="section-title3">Histórias clássicas</p>
        <ion-slides class="slides3" [options]="slideOpts3" routerLink="/historias" (click)="unlockMars()">
          <ion-slide *ngFor="let historia of historias" class="historia-preview">
            <div>
              <img class="img" [src]="historia.imagem">
            <b class="nomehistoria">{{historia.nomehistoria}}</b>
            <p class="nomeautor">{{historia.autor}}</p>
          </div>
          </ion-slide>
        </ion-slides>
      </div>




</ion-content>
