<ion-content color="light">

  <div class="circle2"></div>

  <div class="circle1"></div>
  <img routerLink="/login" src="../../assets/img/image 1.svg" class="image1" />

  <ion-chip color="light" class="conq" routerLink="/conquistas">
    <ion-label class="ion-text-wrap">12</ion-label>
    <img src="../../assets/img/conqs.svg" class="conqs" />
  </ion-chip>

      <ion-card routerLink="/historias">
        <img src="../../assets/img/historia1.svg" />
        <ion-card-header>
          <ion-card-subtitle>TOP 1</ion-card-subtitle>
          <ion-card-title>A Dama e o Vagabundo</ion-card-title>
        </ion-card-header>
      </ion-card>

      <div class="ion-padding">
        <span class="section-title">Histórias infantis</span>
        <ion-slides [options]="null">
          <ion-slide *ngFor="let historia of historias; trackBy:buscarHistoria" class="historia-preview">
            <img class="img" src="../../assets/img/historias/aladdin.png" />
            <b class="nomehistoria">{{ historia.nome }}</b>
            <p class="nomeautor"> {{historia.autor}}</p>
          </ion-slide>
        </ion-slides>
      </div>


</ion-content>
