*{
  font-family: 'Poppins';

}

.content{
  background-color: #f3f3f3;
  width: 90%;
  height: 80vh;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    color: #ededed;
    font-weight: 600;
    position: relative;
    bottom: 5%;
    left: 6px;
  }
  p{
    text-align: center;
    color: #494949;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px;
    padding-bottom: 15px;

  }

  .banner{
    position: relative;
    height: 50px;
    width: 100%;
    background: #79299E;
  }

  .close{
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 1vh;
    margin-left: 35vh;
  }

  .conquistas-planetas {
    margin-top: 58px;
    min-height: 90vh;
    max-height: 90vh;
    width: 100%;
    background: #f3f3f3;
    position: absolute;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
  }
  .planet {
    height: 100%;
    position: fixed;
    padding: 9px;
    .container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .planetSaturn {
    position: relative;
    min-width: 50%;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    .loader {
      position: relative;
      width: 215px;
      height: 215px;
      border-radius: 50%;
      animation: animate 4s linear infinite;
      span {
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: #f3f3f3;
        border-radius: 50%;
      }
      @keyframes animate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    .loader:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(to top, transparent, #777777);
      background-size: 100px 160px;
      background-repeat: no-repeat;
      border-top-left-radius: 300px;
      border-bottom-left-radius: 300px;
    }
    .loader:after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      background: #9c9c9c;
      border-radius: 50%;
      z-index: 10;
      box-shadow: 0 0 10px #777777, 0 0 20px #777777, 0 0 30px #777777,
        0 0 40px #777777, 0 0 50px #777777, 0 0 60px #777777, 0 0 70px #777777,
        0 0 80px #777777, 0 0 90px #777777, 0 0 100px #777777;
    }
  }
  .saturn {
    position: absolute;
    width: 150px;
    height: 150px;
    background: url(../../../assets/img/saturn.jpg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px #777777, 0 0 120px #777777;
    animation: animateSaturn 15s linear infinite;
  }

  @keyframes animateSaturn {
    0% {
      background-position: 0;
    }
    100% {
      background-position: -550px;
    }
  }


}
