<div class="content">

  <img src="../../assets/img/close-circle-outline.svg" class="close" (click)="closeModal()">


  <div class="planet planetSaturn">
    <div class="container">
      <div class="loader"><span></span></div>
      <div class="saturn"></div>
    </div>
  </div>

  <div class="banner">
  <h3>{{ message.title || 'O planeta foi desbloqueado' }}</h3>
</div>


  <p>{{ message.message || 'Marte é o quarto planeta do Sistema Solar, ficando entre a Terra e Jupiter. Por sua cor, é chamado de Planeta Vermelho' }}</p>
</div>

